
pygame/pack.bat.bak
pygame/shoot_game.spec
pygame/build/shoot_game/base_library.zip
pygame/build/shoot_game/out00-EXE.toc
pygame/build/shoot_game/out00-PKG.toc
pygame/build/shoot_game/out00-PKG.pkg
pygame/build/shoot_game/out00-PYZ.pyz
pygame/build/shoot_game/out00-Analysis.toc
pygame/build/shoot_game/out00-PYZ.toc
pygame/__pycache__/shoot_game.cpython-35.pyc
